
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Denemesi</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Açıklama kısmı</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>2</td>
        <th>Sinema</th>
        <th>Açıklama kısmı</th>
        <th>Aktif</th>
    </tr>
</table>