
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Profilim</h2>
<h2> Tüm Başlıklarda Sayfalama</h2>
<h2> Mesajlarda Session</h2>
<h2> Oturum Yönetiminin Mimariye Taşınması</h2>
<h2> Token Kullanımı</h2>

